
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Recipe Hunt</title>
      {% else %}
      <title>Welcome to Recipe Hunt</title>
      {% endif %}
    </head>
    <body>

<div>
  Recipe Hunt:
  <a href="{{ url_for('main_bp.index') }}">Home</a>
  <a href="{{ url_for('auth_bp.login') }}">Login</a>
  {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
</div>
<hr>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>